/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: transparent;
}

.header_box{
    height: 300px;
    width: 1050;
    background: grey;
    border-radius: 25px;
    box-shadow: -3px -3px 5px #ffffff90, 3px 3px 15px #00000040;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: 0.3s;
}

.data:hover {
    box-shadow: 2px 2px 10px #ffffff90, 8px 8px 20px #00000040;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 50px;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container {
    padding: 10px 50px;
    position:relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(2) {
    animation-delay: 1s;
}
.container:nth-child(3) {
    animation-delay: 2s;
}
.container:nth-child(4) {
    animation-delay: 3s;
}
.container:nth-child(5) {
    animation-delay: 4s;
}
.container:nth-child(6) {
    animation-delay: 5s;
}


.textbox {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}
.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img {
    left: -20px;
}
.timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 100%;
      background: #fff;
      top: 0;
      left: 50%;
      margin-left: -3px;
      z-index: -1;
      animation: moveline 6s linear forwards;
      
}

@keyframes moveline {
      0%
      {
          height: 0;
      }
      100%
      {
          height: 100%;
      }
  }

.textbox h2
  {
      font-weight: 600;
  }
.textbox small
  {
      display: inline-block;
      margin-bottom: 15px;
  }
.left-container-arrow
  {
      height: 0;
      width: 0;
      position: absolute;
      top: 28px;
      z-index: 1;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #fff;
      right: -15px;
  }
.right-container-arrow
  {
      height: 0;
      width: 0;
      position: absolute;
      top: 28px;
      z-index: 1;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #fff;
      left: -15px;
  }

/* Responsive */
@media screen and (max-width:600px) {
      
    .timeline
      {
          margin: 50px auto;
      }
      .timeline::after
      {
          left: 31px;
      }
      .container
      {
          width: 100%;
          padding-left: 80px;
          padding-right: 25px;
      }
      .textbox
      {
          font-size: 13px;
      }
      .textbox small
      {
          margin-bottom: 10px;
      }
      .right-container
      {
          left: 0;
      }
      .left-container img , .right-container img
      {
          left: 10px;
      }
      .left-container-arrow , .right-container-arrow
      {
          border-right: 15px solid #fff;
          border-left: 0;
          left: -15px ;
             
      }
    }



